magento/app/etc/local.xml
magento/downloader/.cache
magento/downloader/cache.cfg
magento/downloader/connect.cfg
magento/media/catalog/product/cache
magento/var/cache
magento/var/session
magento/var/locks
magento/var/package
magento/var/importexport
magento/var/log
magento/var/report
